@import "hoseoUtil.scss";

.screen {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

.header_area {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  .header_wrap {
    box-shadow: 0px 3px 6px #00000029;

    .header_back {
      width: 80%;
      margin: 0 auto;
    }

    .header_top_box {
      background-color: $main-color;
      width: 100%;
      padding: 20px 0;

      .top_small_menu {
        color: #fff;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        padding-right: 20px;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .header_bottom_box {
      padding: 38px 0;
      background-color: #fff;

      .logo_box {
        display: inline-block;
        vertical-align: middle;
        width: 205px;
        cursor: pointer;

        .logo_img {
          @include background-set(100%, 50px, contain);
          background-image: url("../image/header_logo.png");
        }
      }

      .right_box {
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 205px);
        text-align: right;

        .menu_box {
          display: inline-block;
          vertical-align: middle;
          padding-right: 30px;
          text-align: right;
          width: calc(90% - 150px);
          cursor: pointer;

          .main_menu {
            display: inline-block;
            vertical-align: middle;
            color: #707070;
            font-size: 20px;
            width: calc(100% / 7);
            text-align: center;
          }
        }

        .icon_box {
          display: inline-block;
          vertical-align: middle;
          padding-left: 30px;
          border-left: 1px solid #D0D0D0;

          .menu_icon {
            display: inline-block;
            vertical-align: middle;
            @include background-set(45px, 45px, contain);
            background-image: url("../image/header_icon.png");
            cursor: pointer;

            &.list {
              background-image: url("../image/header_icon_list.png");
              margin-left: 23px;
            }
          }
        }
      }
    }

    .menu_show_box {
      display: none;
      animation: growDown 500ms ease-in-out forwards;
      transform-origin: top center;

      &.mobile {
        display: block;
        background-color: $main-color;
        position: absolute;
        z-index: 9;
        height: 100vh;
        width: 100%;
      }

      .show_menu_back {
        &.mobile {
          padding: 45px;

          .menu_container {
            display: inline-block;
            width: 50%;
            vertical-align: top;
            color: #fff;

            .menu_row {
              padding-bottom: 50px;

              .main_menu {
                font-size: 13px;
                font-family: "Pretendard_bb";
                padding-bottom: 16px;
              }

              .sub_menu_box {
                .sub_menu {
                  font-size: 13px;
                  padding-bottom: 16px;
                  cursor: pointer;

                  &:last-child {
                    padding-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.footer_area {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  background-color: $sub-color;

  .footer_back {
    text-align: center;

    .footer_top_box {
      padding: 22px 0;
      border-bottom: 1px solid #869593;

      .footer_icon {
        @include background-set(28px, 20px, contain);
        display: inline-block;
        vertical-align: middle;
        margin-right: 35px;

        &:last-child {
          margin-right: 35px;
        }

        &.youtube {
          background-image: url("../image/icon_youtube.png");
        }

        &.insta {
          width: 26px;
          height: 26px;
          background-image: url("../image/icon_insta.png");
        }
      }
    }

    .footer_bottom_box {
      padding: 34px 0 46px;
      color: #fff;

      .bottom_first_info {
        padding-bottom: 34px;

        .line_text {
          font-size: 20px;
          display: inline-block;
          vertical-align: middle;
          border-right: 2px solid #fff;
          padding: 0 10px;
          cursor: pointer;

          &:last-child {
            border-right: none;
          }
        }
      }

      .bottom_second_info {
        font-size: 16px;
        line-height: 30px;
        padding-bottom: 30px;

        p {
          display: inline-block;
          vertical-align: middle;
          padding-left: 5px;

          &:first-child {
            padding-left: 0;
          }
        }
      }

      .bottom_copy {
        font-size: 16px;
      }
    }
  }
}



.main_area {
  height: auto;
  min-height: 100%;
  position: relative;
  padding-top: 186px;

  .main_back {
    .scroll_box {
      position: fixed;
      right: 150px;
      bottom: 50px;
      z-index: 2;

      .scroll_icon {
        cursor: pointer;
        @include background-set(70px, 70px, contain);
        background-image: url("../image/scroll_icon.png");
      }
    }

    .main_banner_box {
      height: 670px;

      .slide_wrap {
        width: 100%;
        height: 100%;

        .swiper {
          width: 100%;
          height: 100%;
        }

        .swiper_slide {
          width: 100%;
          height: 100%;

          .slide_image_box {
            @include background-set(100%, 100%, cover);
            background-image: url("../image/hoseo_banner.png");
            position: relative;

            &::before {
              position: absolute;
              content: "";
              width: 100%;
              height: 100%;
              background: linear-gradient(180deg, #0000005A 60%, #000000D1 100%);
            }

            .slide_text_box {
              position: absolute;
              bottom: 70px;
              left: 10%;

              .banner_logo_box {
                display: inline-block;
                vertical-align: middle;
                padding-right: 48px;

                .banner_logo {
                  @include background-set(120px, 120px, contain);
                  background-image: url("../image/banner_logo.png");
                }
              }

              .banner_text {
                display: inline-block;
                vertical-align: middle;
                padding-left: 48px;
                border-left: 1px solid #fff;
                color: #fff;
                font-size: 30px;
                line-height: 50px;
                width: 730px;
              }
            }
          }
        }

      }
    }

    .home_menu_container {
      background-color: $sub-color;
      border-bottom: 15px solid $main-color;
      padding: 48px 0;

      .home_menu_box {
        width: 50%;
        margin: 0 auto;
        text-align: center;

        .home_menu_row {
          display: inline-block;
          vertical-align: middle;
          width: calc(100% / 6);

          .home_menu_icon {
            cursor: pointer;
            display: inline-block;
            @include background-set(80px, 117px, contain);
            background-image: url("../image/home_menu_1.png");

            &.second {
              background-image: url("../image/home_menu_2.png");
            }

            &.third {
              background-image: url("../image/home_menu_3.png");
            }

            &.fourth {
              background-image: url("../image/home_menu_4.png");
            }

            &.fifth {
              background-image: url("../image/home_menu_5.png");
            }

            &.sixth {
              width: 104px;
              background-image: url("../image/home_menu_6.png");
            }

          }
        }
      }
    }

    .first_container {
      padding: 90px 0;

      .first_back {
        width: 80%;
        margin: 0 auto;

        .first_row {
          display: inline-block;
          vertical-align: middle;
          width: calc((100% - 40px) / 2);
          box-shadow: 3px 3px 10px #00000039;
          background-color: #fff;
          border-radius: 5px;
          padding: 35px 45px;

          &:last-child {
            margin-left: 40px;
          }

          .row_top_box {
            padding-bottom: 35px;

            .row_title {
              display: inline-block;
              vertical-align: middle;
              color: #121212;
              font-size: 25px;
              width: calc(100% - 100px);
              font-family: "Pretendard_b";
            }

            .row_btn_box {
              display: inline-block;
              vertical-align: middle;
              text-align: right;

              .more_btn {
                background-color: $main-color;
                border-radius: 5px;
                font-size: 20px;
                color: #fff;
                padding: 5px 15px;
                cursor: pointer;
              }
            }
          }

          .contents_row {
            border-bottom: 1px solid #D8D8D8;
            padding: 20px 0 16px;

            &:last-child {
              border-bottom: none;
            }

            .contents_title {
              font-size: 25px;
              font-family: "Pretendard_b";
              padding-bottom: 18px;
              color: #121212;

              .new_btn {
                display: inline-block;
                vertical-align: text-top;
                margin-left: 10px;
                border-radius: 20px;
                border: 1px solid $main-color;
                color: $main-color;
                font-size: 16px;
                font-family: "Pretendard_m";
                padding: 3px 11px;
              }
            }

            .contents_text {
              font-size: 20px;
              color: #121212;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              height: 50px;
            }

            .contents_date {
              color: $main-color;
              font-size: 20px;
              padding-top: 13px;
            }
          }
        }
      }
    }

    .middle_banner_box {
      position: relative;
      @include background-set(100%, 288px, cover);
      background-image: url("../image/middle_banner.png");

      &.second {
        background-image: url("../image/middle_banner_2.png");
      }

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        backdrop-filter: blur(3px);
      }

      .banner_text_box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;

        .banner_title {
          font-size: 30px;
          padding-bottom: 16px;
          font-family: "Pretendard_b";
        }

        .banner_sub_text {
          font-size: 25px;
          padding-bottom: 53px;
        }

        .more_btn {
          font-size: 20px;
          cursor: pointer;
        }
      }
    }

    .second_container {
      padding: 95px 0;

      .second_back {
        width: 80%;
        margin: 0 auto;

        .second_row {
          display: inline-block;
          vertical-align: middle;
          width: calc((100% - 120px) / 4);
          margin-right: 40px;
          box-shadow: 3px 3px 10px #00000039;
          border-radius: 5px;

          &:last-child {
            margin-right: 0;
          }

          .row_image {
            @include background-set(100%, 210px, cover);
            background-image: url("../image/middle_banner.png");
            border-radius: 5px 5px 0 0;
          }

          .row_bottom_box {
            padding: 30px;

            .row_title {
              font-family: "Pretendard_b";
              font-size: 25px;
              padding-bottom: 15px;
            }

            .row_text {
              font-size: 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              height: 50px;
            }

            .more_btn {
              margin-top: 15px;
              background-color: $main-color;
              color: #fff;
              display: inline-block;
              padding: 5px 10px;
              border-radius: 5px;
              cursor: pointer;
            }
          }
        }
      }
    }

    .third_container {
      background-color: #fff;
      padding: 100px 0 250px;

      .third_back {
        width: 80%;
        margin: 0 auto;

        .third_top_box {
          text-align: center;
          padding-bottom: 75px;

          .third_title {
            font-size: 30px;
            font-family: "Pretendard_b";
            padding-bottom: 15px;
          }

          .more_btn {
            font-size: 20px;
            cursor: pointer;
          }
        }

        .third_contents_box {
          .third_row {
            box-shadow: 3px 3px 10px #00000039;
            background-color: #fff;
            border-radius: 5px;
            display: inline-block;
            vertical-align: middle;
            width: calc((100% - 39px) / 4);
            margin-right: 13px;

            &:last-child {
              margin-right: 0;
            }

            .title_box {
              background-color: $main-color;
              color: #fff;
              padding: 18px 0;
              text-align: center;
              font-size: 25px;
              font-family: "Pretendard_b";
              border-radius: 5px 5px 0 0;
            }

            .contents_box {
              padding: 30px;
              position: relative;

              &::after {
                position: absolute;
                content: "";
                @include background-set(47px, 49px, contain);
                background-image: url("../image/color_logo.png");
                top: 30px;
                right: 30px;
              }

              .contents_text {
                font-size: 20px;
                padding-bottom: 10px;

                &:last-child {
                  padding-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

.sub_wrap {
  .sub_back {
    .sub_banner_area {
      @include background-set(100%, 187px, cover);
      background-image: url("../image/hoseo_banner.png");
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #000000A3 70%, #000000D1 100%);
      }

      .sub_banner_back {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 60%;
        padding: 35px 0;

        .navi_text {
          color: #fff;
          font-size: 15px;
          padding-bottom: 23px;
        }

        .banner_main_text {
          color: #fff;
          text-align: center;
          font-size: 30px;
          font-family: "Pretendard_b";
        }
      }
    }

    .navi_area {
      background-color: $main-color;

      .navi_back {
        width: 60%;
        margin: 0 auto;

        .navi_box {
          display: inline-block;
          vertical-align: middle;
          color: #fff;
          width: 150px;
          border-left: 1px solid #ffffff6c;
          border-right: 1px solid #ffffff6c;
          font-size: 15px;
          padding: 14px 20px;
          cursor: pointer;
          position: relative;

          .navi_select_box {
            display: none;
            position: absolute;
            background-color: $main-color;
            width: 100%;
            left: 0;
            top: 46px;
            padding: 14px 20px;
            animation: growDown 500ms ease-in-out forwards;
            transform-origin: top center;

            &.active {
              display: block;
            }
          }

          .navi_main_text {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 6px);
          }

          .navi_arrow {
            width: 6px;
            height: 6px;
            border-top: 1px solid #fff;
            border-right: 1px solid #fff;
            display: inline-block;
            vertical-align: middle;
            transform: rotate(135deg);
          }
        }
      }
    }

    .sub_main_area {
      background-color: #F8F8F8;

      &.intro {
        padding: 135px 0 400px;
      }

      &.history {
        padding: 200px 0;
      }

      &.vision {
        padding: 170px 0;
      }


      .sub_main_back {
        width: 70%;
        margin: 0 auto;
      }

      .intro_top_box {
        padding-bottom: 70px;


        .intro_box {
          vertical-align: top;
          display: inline-block;

          &.left {
            width: calc(100% - 240px);
          }

          &.right {
            width: 240px;
          }

          .blank_box {
            background-color: #F0F0F0;
            border-radius: 50%;
            width: 100%;
            height: 238px;
          }

          .left_top_box {
            .logo_box {
              display: inline-block;
              vertical-align: middle;

              .intro_logo {
                @include background-set(82px, 86px, contain);
                background-image: url("../image/color_logo_2.png");
              }
            }

            .intro_title {
              display: inline-block;
              vertical-align: middle;
              padding-left: 35px;
              color: $sub-color;
              font-size: 35px;
              font-family: "Pretendard_b";

              span {
                color: #D87F38;
              }
            }
          }

          .left_bottom_box {
            padding-top: 85px;

            .color_box {
              border-radius: 50%;
              width: 15px;
              height: 15px;
              background-color: #4AA79D;
              margin-bottom: 19px;

              &:nth-child(2) {
                background-color: #D87F38;
              }

              &:nth-child(3) {
                background-color: #AAC587;
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .intro_bottom_box {
        color: $sub-color;

        .intro_main_text {
          font-size: 30px;
          line-height: 50px;
          padding-bottom: 50px;
          font-family: "Pretendard_b";
        }

        .intro_sub_text_row {
          font-size: 20px;
          line-height: 50px;
          padding-bottom: 50px;
        }
      }

      .intro_sign_box {

        .sign_box {
          display: inline-block;
          vertical-align: text-bottom;

          &.right {
            width: 338px;
          }

          &.left {
            width: calc(100% - 338px);
          }

          .sign_text_box {
            font-size: 20px;

            span {
              font-family: "Pretendard_b";
            }
          }

          .sign_img {
            @include background-set(100%, 135px, contain);
            background-image: url("../image/sign_text.png");
          }
        }
      }

      .history_container {
        border-left: 6px solid $main-color;
        position: relative;
        padding-bottom: 30px;

        &::before {
          position: absolute;
          content: "";
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 4px solid $main-color;
          background-color: #fff;
          top: 0;
          left: -13px;
        }

        &::after {
          position: absolute;
          content: "";
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 4px solid $main-color;
          background-color: $main-color;
          bottom: 0;
          left: -13px;
        }


        .history_contents_box {
          display: inline-block;
          vertical-align: top;
          padding: 60px 0 0 40px;

          .history_top_box {
            border-bottom: 1px solid #D0D0D0;
            padding-bottom: 35px;

            .logo_box {
              display: inline-block;
              vertical-align: top;
              width: 82px;

              .logo_img {
                @include background-set(100%, 86px, contain);
                background-image: url("../image/color_logo_2.png");
              }
            }

            .history_title_box {
              display: inline-block;
              vertical-align: top;
              padding-left: 30px;
              width: calc(100% - 82px);

              .title_text {
                color: #000;
                font-size: 30px;
                line-height: 50px;

                &:last-child {
                  font-family: "Pretendard_b";
                }

                span {
                  color: $main-color;
                }
              }
            }
          }

          .history_contents_row {
            padding-top: 80px;
            position: relative;

            &::after {
              position: absolute;
              content: "";
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 4px solid $main-color;
              background-color: $main-color;
              top: 85px;
              left: -53px;
            }

            .year_text {
              display: inline-block;
              vertical-align: top;
              padding-right: 20px;
              font-size: 30px;
              font-family: "Pretendard_b";
            }

            .year_contents_box {
              display: inline-block;
              vertical-align: top;
              border-left: 1px solid #D0D0D0;
              padding-left: 20px;
              width: calc(100% - 95px);

              .contents_row {
                .contents_text {
                  color: #5A5A5A;
                  padding-bottom: 13px;
                  font-size: 20px;
                  display: inline-block;
                  vertical-align: top;
                  width: calc(100% - 95px);
                }

                .sub_year {
                  font-size: 20px;
                  color: $main-color;
                  font-family: "Pretendard_b";
                  padding-right: 13px;
                  height: inherit;
                  display: inline-block;
                  vertical-align: top;
                  width: 95px;
                }
              }
            }

          }
        }
      }

      .vision_container {
        .vision_title_box {
          border-bottom: 1px solid $sub-color;
          color: $sub-color;
          padding-bottom: 10px;

          .logo_box {
            display: inline-block;
            vertical-align: middle;
            width: 18px;

            .logo_img {
              @include background-set(100%, 18px, contain);
              background-image: url("../image/color_logo_2.png");
            }
          }

          .title_text {
            display: inline-block;
            vertical-align: middle;
            font-size: 15px;
            padding-left: 10px;
            width: calc(100% - 18px);
          }
        }

        .vision_contents_box {
          padding: 65px 0 120px;

          &.center {
            text-align: center;
          }

          .middle_arrow {
            @include background-set(60px, 60px, cover);
            background-image: url("../image/middle_arrow.png");
            margin: 55px auto;

          }

          .second_box {
            .top_box {
              text-align: center;
              padding-bottom: 33px;
              position: relative;
              border-bottom: 2px dotted #C6C6C6;
              width: 70%;
              margin: 0 auto;

              &::after {
                position: absolute;
                content: "";
                border-left: 2px dotted #C6C6C6;
                width: 1px;
                height: 33px;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
              }
            }

            .middle_box {
              padding-top: 33px;
            }

            .vision_row_box {
              display: inline-block;
              vertical-align: top;
              width: calc((100% - 100px) / 3);
              margin-right: 50px;

              &:last-child {
                margin-right: 0;
              }

            }

            .vision_row {
              padding: 33px 0;
              border-radius: 64px;
              text-align: center;
              color: #496965;
              display: inline-block;
              vertical-align: middle;
              width: 100%;

              &.first {
                color: #fff;
                background-color: #00D68D;
                width: 200px;
              }

              &.second {
                color: #fff;
                background-color: #52CEC3;
                position: relative;

                &::after {
                  position: absolute;
                  content: "";
                  border-left: 2px dotted #C6C6C6;
                  width: 1px;
                  height: 33px;
                  top: -33px;
                  left: 50%;
                  transform: translate(-50%, 0);
                }
              }

              &.bottom {
                background-color: #fff;
                border: 1px solid #52CEC2;
                border-radius: 20px;
                height: 345px;
                margin-top: 28px;
                position: relative;

                &::after {
                  position: absolute;
                  content: "";
                  border-left: 2px dotted #C6C6C6;
                  width: 1px;
                  height: 28px;
                  top: -28px;
                  left: 50%;
                  transform: translate(-50%, 0);
                }
              }

            }


          }

          .first_box {
            display: inline-block;
            vertical-align: top;
            width: 50%;

            &:last-child {
              padding-left: 35px;
            }

            &.w100 {
              padding-left: 0;
            }

            .left_box {
              display: inline-block;
              vertical-align: top;
              width: 170px;
            }

            .right_box {
              display: inline-block;
              vertical-align: top;
              width: calc(100% - 170px);
              padding-left: 26px;

              .vision_row {
                border: 1px solid #03D68D;
                background-color: #fff;
                position: relative;

                &.long {
                  &::after {
                    width: 27px;
                    left: -27px;
                  }
                }

                &::after {
                  position: absolute;
                  content: "";
                  border-top: 2px dotted #03D68D;
                  width: 15px;
                  height: 1px;
                  top: 50%;
                  left: -15px;
                  transform: translate(0, -50%);
                }
              }
            }

            .vision_row {
              padding: 33px 0;
              width: 100%;
              border-radius: 64px;
              text-align: center;
              color: #496965;
              margin-bottom: 10px;

              span {
                color: #03D68D;
                font-family: "Pretendard_b";
                border-right: 1px solid #BFBFBF;
                padding-right: 10px;
                margin-right: 10px;
              }

              &.visible {
                display: none;
              }

              &.first {
                color: #fff;
                background-color: #00D68D;
              }

              &.second {
                color: #fff;
                background-color: #A0D9C6;
                position: relative;

                &::after {
                  position: absolute;
                  content: "";
                  border-left: 2px dotted #03D68D;
                  width: 1px;
                  height: 192px;
                  top: 46px;
                  right: -15px;
                }
              }

              &.third {
                color: #fff;
                background-color: #52CEC4;
                position: relative;

                &::after {
                  position: absolute;
                  content: "";
                  border-left: 2px dotted #03D68D;
                  width: 1px;
                  height: 192px;
                  top: 46px;
                  right: -15px;
                }
              }

              &.fourth {
                color: #fff;
                background-color: #A0D9C6;
              }
            }


          }
        }
      }

      .field_container {
        .field_top_box {
          text-align: center;
        }

        .field_img_box {
          width: 100%;

          .field_img {
            @include background-set(100%, 40vw, contain);
            background-image: url("../image/field_img.png");
          }
        }
      }

      .map_container {

        .map_box {
          padding-bottom: 30px;
          border-bottom: 1px solid #707070;

          .map {
            width: 100%;
            height: 550px;
          }
        }

        .map_text_box {

          .text_box {
            display: inline-block;
            vertical-align: top;
            width: 350px;
            padding-top: 34px;

            &.left {
              margin-right: 65px;
            }

            .map_title {
              color: #030303;
              font-size: 25px;
              font-family: "Pretendard_b";
              padding-bottom: 12px;
            }

            .map_text_row {
              .map_text {
                display: inline-block;
                vertical-align: top;
                padding-right: 20px;
                color: #030303;

                span {
                  padding-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}